<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Providers</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <a class="nav-item nav-link" routerLink="/listProvider" *ngIf="loginService.isUserLoggedIn()"routerLinkActive="active">Liste</a>

            <a class="nav-item nav-link" routerLink="/addProvider" *ngIf="loginService.isUserLoggedIn()"routerLinkActive="active">Ajouter</a>

            <a class="nav-item nav-link" routerLink="/login" *ngIf="!loginService.isUserLoggedIn()" routerLinkActiv e="active">Login</a>

            <a class="nav-item nav-link" routerLink="/logout" *ngIf="loginService.isUserLoggedIn()" routerLinkActiv e="active">LogOut</a>
            
            <a class="nav-item nav-link" routerLink="/registration" *ngIf="!loginService.isUserLoggedIn()" routerLinkActive="active">Registration</a>

            <span class="nav-item nav-link" style="padding-left:900px ;"  *ngIf="loginService.isUserLoggedIn()" >Logged  user : {{nom}} {{prenom}}</span>
        </div>
    </div>
</nav>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>